{% extends "admin_base.html" %}

{% block content %}
<h2>Prenotazioni</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Data</th>
        <th>Orario</th>
        <th>Livello</th>
    </tr>

    {% for p in prenotazioni %}
    <tr>
        <td>{{ p.nome }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.data }}</td>
        <td>{{ p.orario }}</td>
        <td>{{ p.livello }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}